{% extends '@RadditApp/base.html.twig' %}

{% spaceless %}
  {% block sidebar %}
    <section class="forum-meta">
      <h1 class="forum-title"><a href="{{ path('raddit_app_forum', {forum_name: forum.name}) }}">{{ forum.title }}</a></h1>

      {% if is_granted('ROLE_USER') %}
        {% set subscribed = app.user.subscriptionByForum(forum) is not null %}
        <form action="{{ path(subscribed ? 'raddit_app_unsubscribe' : 'raddit_app_subscribe', {id: forum.id}) }}" method="POST">
          <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">

          <p>
            <button class="forum-subscribe-button">
              {{- (subscribed ? 'forum.unsubscribe' : 'forum.subscribe')|trans -}}
            </button>

            <span class="forum-subscriber-count">
              {{ 'forum.subscriber_count'|transchoice(forum.subscriptions|length) }}
            </span>
          </p>
        </form>
      {% endif %}

      {% if forum.description %}
        <div class="forum-description">{{ forum.description|cached_markdown|raw }}</div>
      {% endif %}
    </section>

    {% if is_granted('edit', forum) %}
      <section class="forum-manage">
        <h1>{{ 'forum.manage'|trans }}</h1>
        <ul>
          <li><a href="{{ path('raddit_app_edit_forum', {forum_name: forum.name}) }}">{{ 'forum.edit'|trans }}</a></li>
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('raddit_app_add_moderator', {forum_name: forum.name}) }}">{{ 'forum.add_moderator'|trans }}</a></li>
          {% endif %}
        </ul>
      </section>
    {% endif %}

    {% if forum.moderators|length > 0 %}
      <section class="forum-moderators">
        <h1><a href="{{ path('raddit_app_forum_moderators', {forum_name: forum.name}) }}">{{ 'forum.moderators'|trans }}</a></h1>
        <ul>
          {% for moderator in forum.moderators %}
            <li>
              <a href="{{ path('raddit_app_user', {username: moderator.user.username}) }}">
                {{- moderator.user.username -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endblock %}
{% endspaceless %}
