{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}
{% from _self import submission_filter %}

{% block page_classes %}
  front-page
{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_front') }}">

  <meta property="og:title" content="{{ raddit_app_site_name() }}">
  <meta property="og:site_name" content="{{ raddit_app_site_name() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('raddit_app_front') }}">
  <meta property="og:image" content="{{ absolute_url(asset('apple-touch-icon-precomposed.png')) }}">

  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block body %}
  <nav class="submission-sort">
    <ul>{{ submission_sort(sort_by) }}</ul>
    <ul>{{ submission_filter(sort_by) }}</ul>
  </nav>

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{%- block sidebar -%}
  <section>
    {% if has_subscriptions %}
      <h1>{{ 'front.subscribed_forums'|trans }}</h1>
    {% elseif is_granted('ROLE_USER') %}
      <h1>{{ 'front.featured_forums'|trans }}</h1>
      <p>{{ 'front.no_subscriptions'|trans }}</p>
    {% else %}
      <h1>{{ 'front.featured_forums'|trans }}</h1>
    {% endif %}

    {% if forums|length > 0 %}
      <ul>
        {% for name in forums %}
          <li><a href="{{ path('raddit_app_forum', {forum_name: name}) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ 'front.no_forums'|trans }}</p>
    {% endif %}
  </section>
{%- endblock -%}

{%- macro submission_filter() -%}
  {%- with {attr: app.request.attributes, front_label: is_granted('ROLE_USER') ? 'front.subscribed' : 'front.featured'} -%}
    <li{% if attr.get('_route') == 'raddit_app_front' %} class="active"{% endif %}><a href="{{ path('raddit_app_front', attr.get('_route_params')|merge({page: 1})) }}">{{ front_label|trans }}</a></li>
    <li{% if attr.get('_route') == 'raddit_app_all' %} class="active"{% endif %}><a href="{{ path('raddit_app_all', attr.get('_route_params')|merge({page: 1})) }}">{{ 'front.all'|trans }}</a></li>
    {% if is_granted('ROLE_USER') %}
      <li{% if attr.get('_route') == 'raddit_app_featured' %} class="active"{% endif %}><a href="{{ path('raddit_app_featured', attr.get('_route_params')|merge({page: 1})) }}">{{ 'front.featured'|trans }}</a></li>
    {% endif %}
  {%- endwith -%}
{%- endmacro -%}
