{% extends '@RadditApp/user.html.twig' %}
{% from '@RadditApp/macros/comments.html.twig' import comment %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_user_comments', {username: user.username}) }}">
  {{ include('@RadditApp/includes/meta_pagination.html.twig', {pager: comments}) }}
{% endblock %}

{% block page_classes %}
  user-comments-page
{% endblock %}

{% block title %}
  {{ 'user.comments'|trans }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% for comment in comments %}
    {{ comment(comment, false) }}
  {% endfor %}

  {{ include('@RadditApp/includes/pagination.html.twig', { pager: comments }) }}
{% endblock %}
