{% extends '@RadditApp/base.html.twig' %}

{% block page_classes %}
  wiki-all-page
{% endblock %}

{% block title %}
  {{ 'wiki.all_pages'|trans }}
{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ path('raddit_app_wiki_all') }}">

  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: pages} only %}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>{{ 'wiki.path'|trans }}</th>
        <th>{{ 'wiki.page_title'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
        <tr>
          <td><a href="{{ path('raddit_app_wiki', {path: page.path}) }}">{{ page.path }}</a></td>
          <td>{{ page.currentRevision.title }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: pages} only %}
{% endblock %}

